@page
@model AdofaiBpmNormalizer.Pages.IndexModel
@{
}

<h1>ADOFAI BPM Normalizer</h1><br/>
<form>
    Start Floor Index: <input type="number" id ="sfi" required><br/>
    End Floor Index: <input type="number" id ="efi" required><br/>
    BPM: <input type="number" id ="bpm" required size="4"> Custom Pattern: <input type="text" id ="cp" size="10"><br/>
    <button>Open</button><button>Run</button>
</form>
